*{
  font-family: "CaskadiaMono Nerd Font";
  background: white;
  min-height: 0;
  font-size: 13px;
}

#clock {
  background: #ffffff;
  margin-left: 10;
}

#battery {
  background: #ffffff;
  margin-right: 10;
}

