layout {
    border {
        active-color   "#ffb0cd"
        inactive-color "#9d8c91"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#ffb0cd"
        inactive-color "#9d8c91"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#ffb0cd80"
    }
}

